.face-snap-card {
    justify-content: center;
    box-sizing: border-box;
    width: 50%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    border: 1px solid #969191;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    text-align: center;
    img {
      width: 100%;
    }
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.5em;
      color: #ff0000;
    }
}