.face-snap-card {
    justify-content: center;
    width: 35%;
    min-width: 350px;
    border: 1px solid #969191;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px #070707;
    background-color: white;
    text-align: center;
    img {
      width: 90%;
    }
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.5em;
      color: #ff0000;
    }
}