.face-snap-card {
    justify-content: center;
    box-sizing: border-box;
    width: 50%;
    margin: 10px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 20px;
    padding: 10px;
    background-color: white;
    img {
      width: 100%;
    }
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 1.5em;
      color: #ff0000;
    }
}

.snapped {
  background-color: rgba(rgb(238, 144, 153), 0.4);
  color: rgb(166, 12, 22);
}